* {
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
}

section {
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

.botoes {
    margin-bottom: 30px;
}
.botoes button {
    margin: 20px;
}

p {
    font-size: 200px;
    padding-top: 10px;
}

h1 {
    font-size: 100px;
    padding-bottom: 15px;
}

button {
    padding: 10px;
    border-radius: 20px;
}

.zerar:hover {
    background-color: yellow;
    transition: 0.5s;
}

.negativos:hover {
    background-color: red;
    transition: 0.5s;
}

.positivos:hover {
    background-color: limegreen;
    transition: 0.5s;
}

.aleatorio:hover {
    background-color: yellow;
    transition: 0.5s;
}